.container-ce{
	margin-right:auto;
	margin-left:auto;
}

.form-horizontal-ce{
	margin-top:20px;
	margin-bottom:20px;
	margin-right:auto;
	margin-left:auto;
}
.form-group-ce{
	margin-top:20px;
	margin-bottom:20px;
}